.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  box-shadow: 0px 2px 4px 0px #60617029;

  .logo {
    height: 61px;
    width: 228px;
  }
}

nav {
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-right: 1rem;

      a {
        color: #090F4E;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: #378760;
        }
      }
    }

    .dropdown {
      position: relative;

      .arrow {
        border: solid #378760;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 10px;
        margin-top: -3px;
      }

      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        color: #090F4E;
        min-width: 100%;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1;

        li {
          padding: 0.5rem 1rem;
        }
      }

      &:hover .dropdown-content {
        display: block;
      }
    }

    .outline-button {
      border: 1px solid #378760;
      color: #378760;
      background-color: transparent;
      padding: 8px 20px;
      border-radius: 40px;
      display: flex;
      align-items: center;
      transition: all 0.2s ease-in-out;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: center;

      .link-icon {
        margin-right: 8px;
      }

      &:hover {
        cursor: pointer;
        background-color: #eee;
      }
    }
  }
}