#root {
  width: 100%;
}

.booking-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 194px;

  .booking-container {
    min-width: 928px;
    min-height: 572px;
    display: flex;
    flex-direction: column;
  }

  .calendar-slot-wrapper {
    display: flex;
    min-height: 482px;

    .calendar {
      background-color: #EBEBF0;
      border-top-left-radius: 12px;
      padding: 0 40px 40px 40px;
      min-width: 400px;
      max-width: 400px;

      .calendar-title {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0.25px;
        text-align: left;
        margin-top: 40px;
      }

      .calendar-timezone {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        margin-bottom: 20px;
      }

      .react-calendar {
        border: 1px solid #C7C9D9;
        border-radius: 12px;
        width: auto;
      }

      .custom-calendar-title {
        color: #333333;
      }

      .react-calendar__month-view__weekdays__weekday {
        color: #378760;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
      }

      abbr[title] {
        text-decoration: none;
      }

      .react-calendar__navigation__label__labelText {
        color: #333333;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
      }

      .react-calendar__tile--active {
        padding: 0px 0px 0px 0px;
        background-color: #378760;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        border-radius: 99px;
      }

      .react-calendar__navigation__prev2-button,
      .react-calendar__navigation__next2-button {
        display: none;
      }

      .react-calendar__navigation__prev-button,
      .react-calendar__navigation__next-button {
        color: #378760;
        font-size: 22px;
        margin: 0 16px;
      }

      .react-calendar__tile:enabled:hover,
      .react-calendar__tile:enabled:focus {
        background-color: #378760;
        border-radius: 99px;
        color: #FFFFFF;
      }

      .react-calendar__tile--now {
        border-radius: 99px;
      }

      .react-calendar__tile:disabled,
      .react-calendar__navigation button:disabled {
        background-color: #fff;
        color: #ababab;
        cursor: not-allowed;
      }
    }

    .time-slot {
      min-width: 400px;
      max-width: 400px;
      background-color: #FFFFFF;
      padding: 40px;

      .loader-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .loader {
          border: 5px solid #FFF;
          border-radius: 50%;
          border-top: 5px solid #378760;
          width: 50px;
          height: 50px;
          animation: spin 2s linear infinite;
        }

        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(360deg);
          }
        }
      }

      .variant-selection {
        display: flex;
        flex-direction: column;

        label {
          font-size: 12px;
          font-weight: 600;
          line-height: 21px;
          text-align: left;
          color: #555770;
          text-transform: uppercase;
        }

        select {
          border: 1px solid #C7C9D9;
          padding: 12px;
          color: #378760;
          border-radius: 10px;
        }
      }

      .divider {
        background-color: #C7C9D9;
        height: 1px;
        margin: 20px 0;
      }

      .slot-section {
        .slot-date {
          font-size: 12px;
          font-weight: 600;
          line-height: 21px;
          text-align: left;
          color: #555770;
          text-transform: uppercase;
          margin-bottom: 6px;
        }

        .slots {
          min-height: 265px;
          max-height: 265px;
          overflow: scroll;

          .slot {
            color: #378760;
            background-color: #FFFFFF;
            font-family: Poppins;
            font-size: 14px;
            font-weight: 600;
            line-height: 21px;
            text-align: center;
            border: 1px solid #378760;
            border-radius: 10px;
            padding: 13px 0;
            margin-bottom: 15px;

            &:hover {
              background-color: #378760;
              color: #FFFFFF;
            }
          }

          .active {
            background-color: #378760;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 12px;
            padding-right: 9px;
          }
        }

        .empty-slot {
          display: flex;
          justify-content: center;
          align-items: center;

          .empty-text {
            margin-top: 7rem;
            font-size: 15px;
          }
        }
      }

      .get-started {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        color: #378760;
        line-height: 30px;

        .start-button {
          border: 1px solid #378760;
          color: #378760;
          background-color: #FFFFFF;
          padding: 8px 20px;
          border-radius: 40px;
          transition: all 0.2s ease-in-out;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .calendar-footer {
    background-color: #378760;
    color: #FFFFFF;
    padding: 29px 40px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .author {
      font-size: 12px;
      font-weight: 600;
      line-height: 21px;
      text-align: left;
      text-transform: uppercase;

      a {
        color: #FFFFFF;
      }
    }

    .footer-btn {
      // margin-right: 20px;
      height: 48px;

      .arrow {
        border: solid #378760;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 8px;
      }

      .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }

      .next-btn {
        width: 120px;
        height: 48px;
        border-radius: 10px;
        border: none;
        color: #555770;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
      }
    }
  }
}